In [1]:
##Creating a variable name in snake case format(each word is seperated by underscore) and assigning value

variable_test = "myfirstvariableassignment"
print(variable_test)

myfirstvariableassignment

In [2]:
Age = 20
print(Age)

20

In [3]:
x=20
y=30
z=x+y
print(z)

50

In [5]:

## Creating a three variables and assigning same value in one code line
x=y=z="Apple"
print(x)
print(y)
print(z)

Apple
Apple
Apple

In [8]:
num1 = input("Enter first number")
num2 = input("Enter second number")
result_add = num1+num2
print("result_add",result_add)

Enter first number 2
Enter second number 3

result_add 23

In [16]:
## Creating a python program to draw a triangle shape using print statement only

for row in range(1,5):
    for col in range(1,8):
        if row==4 or row+col==5 or col-row==3:
            print("*",end="")
        else:
             print(end=" ")
    print()

   *
  * *
 *   *
*******